## Part 1

### 1. generate DF of distance and location name list

In [98]:
f = open('2015-Q9_tyler.txt', 'r')
lst = f.readlines()
f.close()

In [99]:
new_lst = []
for line in lst:
    s_line = line.split()
    new_lst.append([s_line[0], s_line[2], s_line[4]])

In [100]:
locat = []
for line in new_lst:
    locat.append(line[0])
    locat.append(line[1])

all_loc = set(locat)

In [ ]:
new_lst

In [102]:
import pandas as pd

In [103]:
df = pd.DataFrame(index = all_loc, columns = all_loc)
df = df.fillna(0)

In [104]:
for line in new_lst:
    df[line[0]][line[1]] = line[2]
    df[line[1]][line[0]] = line[2]

In [105]:
df

,Arbre,Tambi,Snowdin,Tristram,Straylight,Faerun,AlphaCentauri,Norrath
Arbre,0,143,96,14,14,149,46,115
Tambi,143,0,52,63,65,129,22,68
Snowdin,96,52,0,105,101,71,84,8
Tristram,14,63,105,0,125,65,55,4
Straylight,14,65,101,125,0,137,107,23
Faerun,149,129,71,65,137,0,3,144
AlphaCentauri,46,22,84,55,107,3,0,136
Norrath,115,68,8,4,23,144,136,0

In [106]:
type(all_loc)

set

### 2. generate routes based on location list

In [107]:
locs = list(all_loc)
locs

['Arbre',
 'Tambi',
 'Snowdin',
 'Tristram',
 'Straylight',
 'Faerun',
 'AlphaCentauri',
 'Norrath']

In [108]:
def permutation(lst_remain):
    if len(lst_remain)< 3:
        _a = lst_remain[0]
        _b = lst_remain[1]
        _list1 = [[_a, _b], [_b, _a]]
        return _list1
    else:
        _list1 = []
        for i in lst_remain:
            temp_lst = lst_remain[:]
            temp_lst.remove(i)
            _list2 = permutation(temp_lst)
            for j in _list2:
                _lst = [i] + j
                _list1.append(_lst)
        return _list1

In [109]:
routes = permutation(locs)
len(routes)

40320

In [111]:
all_dis = []
all_routes = []
for r in routes:
    dis = 0
    for i in range(len(r)-1):
        dis += df[r[i]][r[i+1]]
    all_routes.append([r, dis])
    all_dis.append(dis)

In [114]:
min(all_dis)

117

In [116]:
max(all_dis)

909